body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  padding: 1rem;
}

#container {
  display: flex;
  gap: 1px;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.grid-item {
  flex: wrap;
  margin: 0;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.534);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0px solid white;
}
